.gallery{
    height: 84vh;
    margin:2vh 10px;
    border-radius: 10px;
    background-color: var(--clr1);
}

/* HEADER */
header{
    height: 100px;
    align-items: center;
    margin: 0 20px;
}
header > *{
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 30px;
    /* font-size: 1.2rem; */
    margin:0px 10px;
}
header input{
    height: 60px;
    /* max-width: 540px; */
    background-color: var(--clr2);
    border: none;
    color: var(--clr3)
}

input[type=text]{
    padding-left: 25px;
}

header .searched-words{
    height: 50px;
    /* max-width: 540px; */
    background-color: rgba(254, 254, 254, 0.2);
    /* --clr3 */
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.15));
    position: relative;
}

header .searched-words ul{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .searched-words ul li{
    padding: 0 10px;
}
header .searched-words ul a{
    color:black ;
    text-decoration-line: none;
    text-transform: capitalize;
}

header .more{
    filter: drop-shadow(0px 3px 3.5px rgba(0,0,0,0.15));
    background-image: var(--gradient);
}

/* MAIN */

.meme-display{
    height: calc(84vh - 2vh - 100px);
    width: 95%;
    overflow-y: scroll;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    place-items:center;
}
.img{
    background-repeat: no-repeat;
    background-size: contain;
    height:150px;
    border-radius: 5px;
}

.img:hover{
    cursor: pointer;
}

/* COMPONENETS */

.btn{
    height: 35px;
    max-width: 90px;
    border-radius: 20px;
}

.btn:hover{
    cursor: pointer;
}
/* MODAL */
.modal{
    background-color: rgb(210, 210, 175);
    position: absolute;
    top: 0;
    width:100%;
    height: 200%;
    border-radius: 25px;
}
.modal a{
    text-transform: capitalize;
}


/* HELPERS */


.centered{
    justify-content: center;
    align-items: center;
}

/* scrollbar */

.meme-display::-webkit-scrollbar{
    /* padding-right: 30px; */
    width:10px;
}
.meme-display::-webkit-scrollbar-track{
    background: var(--clr2);
    border-radius: 5px;
}

.meme-display::-webkit-scrollbar-thumb{
    background-image: var(--gradient);
    border-radius: 5px;
}



